.dashboardLayout {
  height: 100vh;
  margin: 0;
}

.dashboard {
  height: 100%;
  display: flex;
}
  
  .content {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
  }
  
  .content h1 {
    margin-bottom: 20px;
  }
