/* ProjectDetail.module.css */
.projectDetail {
  padding: 20px;
  max-width: 800px;
  color: white;
  margin: auto;
}

.problemStatement {
  margin-top: 20px;
}

.screenshots {
  margin-top: 20px;
}

.screenshotContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between screenshots */
}

.screenshot {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.gitHubHistory {
  margin-top: 20px;
}

.gitHubHistory ul {
  list-style-type: none;
  padding: 0;
}

.techStack {
  margin-top: 20px;
}

.techStack ul {
  list-style-type: none;
  padding: 0;
}

.links a {
  display: block;
  margin-top: 10px;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .screenshotContainer {
      flex-direction: column; /* Stack images vertically on small screens */
  }

  .button {
      width: 100%; /* Full-width buttons on small screens */
  }
}
