/* ProjectDetail.module.css */
.projectDetail {
  padding: 20px;
  max-width: 800px;
  color: white;
  margin: auto;
  background-color: #1e1e2f;
  border-radius: 12px;
  color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.projectName {
  font-size: 2.4rem;
  margin-bottom: 10px;
  text-align: center;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: justify;
}

.problemStatement, .gitHubHistory, .phase, .techStack, .links, .screenshots {
  margin-top: 20px;
}

.screenshotContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.screenshot,
.screenshotPlaceholder {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  background-color: #333;
  border: 1px solid #444;
}

.gitHubHistory ul {
  list-style-type: none;
  padding: 0;
}

.techStack ul {
  list-style-type: circle;
  padding: 0 20px;
}

.links a {
  display: inline-block;
  margin-top: 5px;
  color: #61dafb;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.action {
  text-align: center;
  margin-top: 20px;
}

.notFound {
  text-align: center;
  padding: 50px;
}

.backButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .screenshotContainer {
      flex-direction: column; /* Stack images vertically on small screens */
  }

  .button {
      width: 100%; /* Full-width buttons on small screens */
  }
}
