.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 200px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(18, 18, 18, .125);
    border-radius: .50rem;
    padding: 1.2rem;
  }
  
  .card > hr {
    margin-right: 0;
    margin-left: 0
  }
  
  .card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
  }
  
  .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
  }
  
  .card_body {
    flex: 1 1 auto;
    padding: 1.25rem
  }
  
  .card_title {
    margin-bottom: .75rem
  }
  
  .card_subtitle {
    margin-top: -.375rem;
    margin-bottom: 0
  }
  
  .card_text:last-child {
    margin-bottom: 0
  }
  
  .card_link:hover {
    text-decoration: none
  }
  
  .card_link + .card_link {
    margin-left: 1.25rem
  }
  
  .card_header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    /* background-color: rgba(18, 18, 18, .03); */
    border-bottom: 1px solid rgba(18, 18, 18, .125)
  }
  
  .card_header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
  }
  
  .card_header + .list-group .list-group-item:first-child {
    border-top: 0
  }
  
  .card_footer {
    padding: .75rem 1.25rem;
    background-color: rgba(18, 18, 18, .03);
    border-top: 1px solid rgba(18, 18, 18, .125)
  }
  
  .card_footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
  }
  
  .card_header-tabs {
    margin-right: -.625rem;
    margin-bottom: -.75rem;
    margin-left: -.625rem;
    border-bottom: 0
  }
  
  .card_header-pills {
    margin-right: -.625rem;
    margin-left: -.625rem
  }
  
  .card_img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem
  }
  
  .card_img {
    width: 100%;
    border-radius: calc(.25rem - 1px)
  }
  
  .card_img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
  }
  
  .card_img-bottom {
    width: 100%;
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px)
  }
  
  .card_deck {
    display: flex;
    flex-direction: column
  }
  
  .card_deck .card {
    margin-bottom: 15px
  }
  
  @media (min-width: 576px) {
    .card_deck {
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px
    }
  
    .card_deck .card {
      display: flex;
      flex: 1 0 0%;
      flex-direction: column;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px
    }
  }
  
  .card_group {
    display: flex;
    flex-direction: column
  }
  
  .card_group > .card {
    margin-bottom: 15px
  }
  