/* (home page specific styles) */
.landing {
    text-align: center;
    padding: 50px;
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .subheading {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .socialLinks a {
    margin: 0 10px;
    color: #0070f3;
    font-size: 1.2rem;
  }
  
.exploreButton {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  