.sidebar {
    width: 200px;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding: 15px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  
  .sidebar ul {
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 70%;
  }
  
  .sidebar ul li {
    margin-bottom: 15px;
    padding: 1.2rem;
  }
  
  .sidebar ul li a {
    color: var(--dark);
    text-decoration: none;
    font-weight: bold;
  }
  