.landing {
  text-align: center;
  padding: 50px 20px 60px 20px;
  color: var(--white);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: 1.5px;
}

.subheading {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: var(--secondary-color);
}

.quote {
  font-style: italic;
  font-size: 1.2rem;
  color: var(--light-gray);
  margin-bottom: 40px;
}

.imageContainer {
  margin-bottom: 20px;
}

.profilePicture {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.socialLinks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the icons */
  display: flex;
  flex-wrap: wrap; /* Allows for better wrapping of icons */
  width: 200px; /* Allows for positioning */
  height: 200px; /* Aligns with the profile picture */
  animation: rotate 10s linear infinite; /* Rotate the container */
}

.socialLinks a {
  position: absolute;
  width: 40px; /* Width of the icon */
  height: 40px; /* Height of the icon */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 1.8rem;
  transition: transform 0.3s ease-in-out;
}

/* Positioning the icons around the profile picture */
.socialLinks a:nth-child(1) { 
  top: 0%; 
  left: 50%; 
  transform: translate(-50%, -50%) rotate(0deg) translateY(-80px); /* Adjust distance */
}

.socialLinks a:nth-child(2) { 
  top: 50%;  
  right: 0%; 
  transform: translate(50%, -50%) rotate(90deg) translateX(80px); /* Adjust distance */
}

.socialLinks a:nth-child(3) { 
  bottom: 0%; 
  left: 50%; 
  transform: translate(-50%, 50%) rotate(180deg) translateY(80px); /* Adjust distance */
}

.socialLinks a:nth-child(4) { 
  top: 50%; 
  left: 0%; 
  transform: translate(-50%, -50%) rotate(270deg) translateX(-80px); /* Adjust distance */
}

.exploreButton {
  padding: 12px 24px;
  background-color: white;
  color: var(--dark);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    background-color: var(--gray-dark);
    transform: translateY(-5px);
  }
}

/* Keyframes for the rotation effect */
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }

  .subheading {
    font-size: 1.2rem;
  }

  .profilePicture {
    width: 150px;
    height: 150px;
  }

  .socialLinks a {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1rem;
  }

  .profilePicture {
    width: 120px;
    height: 120px;
  }
}